annotated-types==0.8.0
asttokens==3.0.2
cachetools==6.2.6
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
comm==0.2.3
croniter==6.2.4
dateparser==1.2.1
duckdb==1.5.5
executing==2.2.1
fsspec==2026.7.0
humanize==4.16.0
hyperscript==0.3.0
idna==3.19
ipython==9.17.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.9
jedi==0.20.0
Jinja2==3.1.6
json-stream==2.5.1
json-stream-rs-tokenizer==0.5.3
jupyterlab_widgets==3.0.17
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mdurl==0.1.2
mmh3==5.3.0
numpy==2.5.2
packaging==26.3
pandas==2.3.3
parso==0.8.7
pexpect==4.9.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==25.0.1
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyiceberg==0.11.1
pyiceberg-core==0.7.0
pyparsing==3.3.2
pyroaring==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
PyYAML==6.0.3
regex==2026.8.31
requests==2.34.2
rich==14.3.4
ruamel.yaml==0.19.1
six==1.17.0
SQLAlchemy==2.0.52
sqlglot==30.8.0
sqlmesh==0.236.1
stack-data==0.6.3
strictyaml==1.7.3
tenacity==9.1.4
time-machine==3.5.0
traitlets==5.16.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
wcwidth==0.8.3
widgetsnbextension==4.0.16
zstandard==0.25.0
